.popup {
  .settings-button {
    border: none;
    background: transparent;
  }

  .message-container {
    margin: 2rem 0;
    padding: 0 4rem;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .spinner {
    margin-right: 0.25rem;
  }
}
